
.fi-cover {
  $cover-height: 100vh;

  height: $cover-height;
  position: relative;

  .picture {
    background-position: center center;
    background-size: cover;
    height: 30vh;
    position: relative;

    &:after {
      border-style: solid;
      border-width: 30px 100vw 0 0;
      border-color: transparent white transparent transparent;
      bottom: -1px;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      width: 0;
    }

    @media (min-width: $screen-sm-min) {
      height: 40vh;
    }

    @media (min-width: $screen-md-min) {
      height: $cover-height;
      width: 55%;

      &:after {
        border-width: 0 50px $cover-height 0;
        bottom: 0;
        right: 0;
        top: 0;
      }
    }
  }

  .data {
    background: white;
    text-align: center;

    .wrapper {
      box-sizing: border-box;
      height: $cover-height - 30vh;
      margin: 0 auto;
      max-width: 320px;
      padding-bottom: 60px;
      position: relative;
    }

    @media (min-width: $screen-sm-min) {
      .wrapper { height: $cover-height - 40vh; }
    }

    @media (min-width: $screen-md-min) {
      border-left: 1px solid white;
      bottom: 0;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      width: 45%;

      .wrapper {
        height: $cover-height;
        margin-left: 0;
        max-width: 500px;
      }
    }
  }

  .candidates {
    color: $brand-secondary;
    font-size: 2em;
    margin: 0;
    padding: 1rem 1rem 0;
    text-transform: uppercase;
    white-space: nowrap;

    > * {
      display: block;
    }

    span {
      color: $brand-primary;
      font-size: .9em;
    }

    @media (min-width: $screen-md-min) {
      font-size: 2.5em;
      padding: 6rem 1rem 6rem 0;
    }
  }

  .logo {
    background: transparent url(../images/phi.svg) no-repeat 10px center;
    background-size: 45px;
    color: $brand-secondary;
    font-family: "Montserrat", sans-serif;
    padding: 1em 1rem 1em 55px;

    .title {
      font-size: 1.25em;
      text-transform: uppercase;
    }

    @media (min-width: $screen-md-min) {
      background: none;
      font-size: 1.5em;
      padding: 0 1rem 6rem 55px;

      &:before {
        background: transparent url(../images/phi.svg) no-repeat top left;
        background-size: cover;
        content: "";
        display: block;
        height: 102px;
        right: 390px;
        position: absolute;
        width: 80px;
      }
    }
  }

  .cities {
    color: $brand-primary;
    font-size: 1.1em;
    line-height: 1.5;
    padding: 1em 1rem 1em 0;

    @media (min-width: $screen-md-min) {
      font-size: 1.75em;
      padding: 0 1rem 3rem 0;
    }
  }

  .district,
  .election {
    color: $brand-secondary;
    padding: 0 1rem 0 0;

    @media (min-width: $screen-md-min) {
      font-size: 1.25em;
    }
  }

  .district {
    font-weight: bold;
  }

  .election {
    text-transform: uppercase;
  }

  .scrolldown {
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent $brand-primary $brand-primary;
    display: block;
    height: 24px;
    left: 50%;
    position: absolute;
    bottom: 24px;
    transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    transition: border-color .5s;
    width: 24px;

    span {
      @include hide-text;
    }

    &:hover,
    &:focus {
      border-color: transparent transparent $brand-secondary $brand-secondary;
    }
  }
}
